<section class="hero" id="hero">
  <div class="hero__overlay">
    <div class="container hero__container">
      <div class="hero__content">
        <p class="hero__rating">
          <span class="hero__rating-value"></span>
        </p>

        <h1 class="hero__title"></h1>

        <p class="hero__description"></p>

        <div class="hero__actions">
          <button class="hero__button hero__button--trailer" type="button">
            Watch trailer
          </button>

          <button class="hero__button hero__button--details" type="button">
            More details
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
