<section class="weekly-trends">
  <div class="container">
    <div class="weekly-trends__header">
      <h2 class="weekly-trends__title">Weekly Trends</h2>
      <a class="weekly-trends__link" href="./catalog.html">See all</a>
    </div>

    <ul class="weekly-trends__list" data-weekly-list></ul>
  </div>
</section>

<section class="upcoming">
  <div class="container">
    <h2 class="upcoming__section-title">Upcoming This Month</h2>

    <div class="upcoming__content" data-upcoming></div>
  </div>
</section>