<div class="library-page">
  <section class="library-content" aria-label="My movie library">
    <div class="library-container">
      <div class="library-toolbar">
        <label class="visually-hidden" for="library-genre">Genre</label>

        <select class="library-genre" id="library-genre" name="genre">
          <option value="">Genre</option>
        </select>
      </div>

      <ul class="library-movie-list"></ul>

      <div class="library-empty" hidden>
        <p>OOPS...</p>
        <p>We are very sorry!</p>
        <p>You don't have any movies at your library.</p>
      </div>

      <button class="library-load-more" type="button" hidden>Load more</button>
    </div>
  </section>
</div>